.social-icons-container {
  display: flex;
  justify-content: flex-end;
}

.social-icons-container a {
  transition: transform 0.5s ease, color 0.5s ease;
  color: inherit;
}

.social-icons-container a:hover {
  transform: scale(1.2);
}

.social-icons-container a:hover .discord {
  color: #7289da;
}

.social-icons-container a:hover .github {
  color: #08872B;
}


.social-icons-container a:hover .instagram {
  color: #e1306c;
}

.social-icons-container a:hover .linkedin {
  color: #0077b5;
}

.social-icons-container a:hover .medium {
  color: #1A8917;
}

.social-icons-container a:hover .patreon {
  color: #f96854;
}

.social-icons-container a:hover .udemy {
  color: #a435ef;
}

.social-icons-container a:hover .x {
  color: #1da1f2;
}

.social-icons-container a:hover .youtube {
  color: #ff0000;
}

@media (max-width: 768px) {
  .social-icons-container {
    justify-content: center;
  }
}
